/* 
CSS for my personal webpage 
Written by : Rajiv Mantena
Email : mantenarajiv <at> gmail.com
Date : January 27th 2017
*/

* { 
	margin: 0; 
	padding: 0; 
}

body { 
	font-family: Georgia, Serif;
	font-size: 18px;
	background-color: #ffffff;
}

#page-wrap { 
	width: 800px;  
	margin: 40px auto 60px;
}

#pic { 
	height: 120px ;
	float: center;
	margin: 15px 160px;
}

#frame { 
	width: 800px; 
	border-radius: 5px; 
	border: 1px solid black; 
	padding: 0px; 
	margin: 0px auto 0px; 
	background-color: #ffffff;
}

#frame p {
	margin: 10px auto 10px;
	text-align: center; 
	color: #808b96;
}

#header {
	text-align: center; 
	width: 800px; 
	margin: 0 auto 0px;
}

#body {
	width: 700px; 
	text-align: center; 
	margin: 15px auto 30px; 
	color: #000;
}

#body myTitle {
	color: #00000;
	font-size:130%;
	font-style: underlined;
}

#body p {
	margin: 10px 0 10px 0; 
	color: #000;
}

#body p a{
	margin: 0 0 10px 0; 
	color: #808b96;
}

#body a:hover { 
	color: #000; 
}

#wrapper {
  margin-left: 140px;
  margin-bottom: 10px;
}

#content {
  float: right;
  text-align: left;
  width: 100%;
  border-left: 1px solid black;
  padding-left: 15px;
  color: #000;
  font-size: 90%;
}

#content p {
	text-align: left;
	margin: 0 0 10px 0;
}

#content a{
	color: #808b96;
}

#content a:hover { 
	color: #000; 
}

#sidebar {
  float: left;
  text-align: right;
  width: 140px;
  margin-left: -170px;
}

#sidebar myText {
	margin-top:10px;
	font-size: 85%;
	color: #808b96;
	font-style: italic;
}

#cleared {
  clear: both;
}

a { 
	color: #000; 
	text-decoration: none; 
}

a:hover { 
	color: #808b96; 
}

#inline{
    float: right;
    margin: 0px 10px 0px 0px;
}

#copy {
	width: 700px; 
	text-align: center; 
	margin: 10px auto; 
	color: #bdc3c7; 
	font-size: 14px; 
	font-style: italic;
}